.small-font {
	font-size: 1vw;
}

.medium-font {
	font-size: 2vw;
}

.large-font {
	font-size: 3vw;
}

#home a {	
	font-size: 120%;
	color: #006666;
	border: 1px solid #006666;
}

#home a:hover{
	background: #006666;
	color: white;
}

#about {
	background: #e6fff5;
}

.border-bot {
	width: 10%;
	border-bottom: 3px solid #006666;
}

#about p {
	line-height: 30px;
}

.bachelor, .certificate {
	border-bottom: 1px solid #ccccb3;
}

#education h3, #education small {
	color: #006666;
}

#education i {
	color: white;
	font-size: 30px;
	background: #006666;
}